@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$cell-size: calc(100vh * 0.13);
$cell-text: calc(#{$cell-size} * 0.7);
$heading-size: calc(#{$cell-size} * 0.8);
$heading-text: calc(#{$cell-text} * 0.8);
$button-text: calc(#{$heading-text} * 0.9);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    margin: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #5e5e5e93;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 5;
    transition: display 1s;

    button {
        width: 30%;
        font-size: $button-text;
        border-radius: 10px;
        padding: 10px 0;
        outline: none;
        border: 0px solid transparent;
        background-color: #59ec59;
        box-shadow: 5px 5px 0px #399c39;

        @media (max-width: 490px) {
            width: 40%;
            $button-text: calc(#{$button-text} * 0.8);
            font-size: $button-text;
        }

        @media (max-width: 395px) {
            width: 40%;
            $button-text: calc(#{$button-text} * 0.6);
            font-size: $button-text;
        }

        &:active {
            box-shadow: 0 0 0 #399c39;
            transform: translate(5px, 5px);
        }
    }
}

.bingo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $heading-size;
        height: $heading-size;
        font-size: $heading-text;
        border-radius: 50%;
        border: 8px solid transparent;
        margin: 25px 11px;
        transition: 0.5s;

        @media (max-width: 490px) {
            $heading-size: calc(#{$heading-size} * 0.85);
            $heading-text: calc(#{$heading-text} * 0.85);
            width: $heading-size;
            height: $heading-size;
            font-size: $heading-text;
            margin: 19px 2px;
        }

        @media (max-width: 395px) {
            $heading-size: calc(#{$heading-size} * 0.67);
            $heading-text: calc(#{$heading-text} * 0.67);
            width: $heading-size;
            height: $heading-size;
            font-size: $heading-text;
            margin: 19px 2px;
        }
    }
}

.board {
    width: 100%;
    min-height: calc(100vh - calc(#{$heading-size} + 100px));
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-content: center;

    @media (max-width: 490px) {
        $heading-size: calc(#{$heading-size} * 0.8);
        min-height: calc(100vh - calc(#{$heading-size} + 100px));
    }

    @media (max-width: 395px) {
        $heading-size: calc(#{$heading-size} * 0.6);
        min-height: calc(100vh - calc(#{$heading-size} + 100px));
    }

    .strike::after {
        content: '';
        width: calc(#{$cell-text} + 17px);
        height: 5px;
        background-color: black;
        position: absolute;
        transform: rotate(45deg);

        @media (max-width: 490px) {
            $cell-size: calc(#{$cell-size} * 0.8);
            width: calc(#{$cell-text} + 12px);
            height: 4px;
        }

        @media (max-width: 395px) {
            $cell-size: calc(#{$cell-size} * 0.6);
            width: calc(#{$cell-text} - 3px);
            height: 3px;
        }
    }

    .cell {
        background-color: transparent;
        width: $cell-size;
        height: $cell-size;
        border: 1.2px solid black;
        font-size: $cell-text;
        display: flex;
        outline: none;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        transition: 0.5s;

        @media (max-width: 490px) {
            $cell-size: calc(#{$cell-size} * 0.87);
            $cell-text: calc(#{$cell-text} * 0.87);
            border: 1px solid black;
            width: $cell-size;
            height: $cell-size;
            font-size: $cell-text;
        }

        @media (max-width: 395px) {
            $cell-size: calc(#{$cell-size} * 0.68);
            $cell-text: calc(#{$cell-text} * 0.68);
            border: 0.8px solid black;
            width: $cell-size;
            height: $cell-size;
            font-size: $cell-text;
        }

        &:disabled {
            color: black;
            cursor: not-allowed;
        }

        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            border-top: none;
        }

        &:last-child,
        &:nth-child(22),
        &:nth-child(23),
        &:nth-child(24),
        &:nth-child(21) {
            border-bottom: none;
        }

        &:nth-child(5n + 1) {
            border-left: none;
        }

        &:nth-child(5n) {
            border-right: none;
        }
    }
}